# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDE
.idea/
*.swp
*.swo

# Env & Config
.env
*.env.local
*.env.production
configs/config.yaml

# Build artifacts
bin/